@import 'theme-colors';
$theme-font: 'Open Sans, sans-serif';

body {
  font-family: $theme-font;
  color: $themeColor-Midnight;
}
h2 {
  font-size: 60px;
  text-transform: uppercase;
  color: white;
}

#wwu h2 span {
  color: $themeColor-Green;
}
#wfu h2 span {
  color: $themeColor-Midnight;
}
